<h1 mat-dialog-title>Pick a weapon</h1>

<form [formGroup]="heroWeaponForm">
  <mat-dialog-content>

    <mat-form-field class="w-100">
      <mat-select matInput placeholder="Weapon choice" formControlName="weaponChoice">
        <mat-option *ngFor="let weapon of existingWeapons" [value]="weapon.id">
          {{ weapon.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="heroWeaponForm.controls['weaponChoice'].hasError('required') && heroWeaponForm.controls['weaponChoice'].pristine">
        You need to pick a weapon
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="undefined">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!heroWeaponForm.valid" [mat-dialog-close]="heroWeaponForm.get('weaponChoice').value">Confirm</button>
  </mat-dialog-actions>
</form>