<h1>My Heroes</h1>

<!-- to use an avatar for heroes list :
see https://material.angular.io/components/list/overview#lists-with-avatars
-->

<mat-form-field class="w-100">
  <input matInput placeholder="Filter.." [(ngModel)]="query">
</mat-form-field>

<mat-nav-list>
  <div class="heroes-list" *ngFor="let hero of heroes">
    <mat-list-item *ngIf="query === '' || query === undefined || hero.name.toLowerCase().indexOf(query.toLowerCase()) !== -1 || hero.id.toLowerCase().indexOf(query.toLowerCase()) !== -1"
      [routerLink]="['./detail/', hero.id]">
      <mat-icon matListIcon>face</mat-icon>
      <h3 matLine>{{ hero.name }}</h3>
      <p matLine>
        <span>ID: {{ hero.id }}</span>
      </p>
    </mat-list-item>
  </div>
</mat-nav-list>

<button mat-raised-button color="primary" [routerLink]="['./add']">
  Add
  <mat-icon>add</mat-icon>
</button>

<router-outlet></router-outlet>