<h1>My Weapons</h1>

<mat-form-field class="w-100">
  <input matInput placeholder="Filter.." [(ngModel)]="query">
</mat-form-field>

<mat-nav-list>
  <div class="weapons-list" *ngFor="let weapon of weapons">
    <mat-list-item *ngIf="query === '' || query === undefined || weapon.name.toLowerCase().indexOf(query.toLowerCase()) !== -1 || weapon.id.toLowerCase().indexOf(query.toLowerCase()) !== -1"
    [routerLink]="['./detail/', weapon.id]">
      <mat-icon matListIcon>gavel</mat-icon>
      <h3 matLine>{{ weapon.name }}</h3>
      <p matLine>
        <span>ID: {{ weapon.id }}</span>
      </p>
    </mat-list-item>
  </div>
</mat-nav-list>

<button mat-raised-button color="primary" [routerLink]="['./add']">
  Add
  <mat-icon>add</mat-icon>
</button>

<router-outlet></router-outlet>