<h1>Heroes battle</h1>
<p>Make your favorite heroes fight each other : choose your challengers and start the fight !</p>

<form [formGroup]="battleForm" (ngSubmit)="fight()">
  <mat-grid-list cols="3" rowHeight="1:1">

    <mat-grid-tile>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select matInput placeholder="Player 1" formControlName="player1">
          <mat-option *ngFor="let hero of availableHeroes" [value]="hero">
            {{ hero.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-fab [disabled]="!battleForm.valid">Fight !</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select matInput placeholder="Player 2" formControlName="player2">
          <mat-option *ngFor="let hero of availableHeroes" [value]="hero">
            {{ hero.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</form>