<mat-card class="mat-card-margin">
  <mat-card-header>
    <mat-card-title>Add a weapon</mat-card-title>
  </mat-card-header>
  <form [formGroup]="weaponForm" (ngSubmit)="createWeapon()">
    <mat-card-content>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput cdkFocusInitial type="text" placeholder="Name" formControlName="weaponName" required />
      </mat-form-field>

      <div>
        <p>Attack : {{ weaponAtq.value }} pts</p>
        <mat-slider min="-5" max="5" class="w-100" #weaponAtq formControlName="weaponAtq"></mat-slider>
      </div>

      <div>
        <p>Dodge : {{ weaponDod.value }} pts</p>
        <mat-slider min="-5" max="5" class="w-100" #weaponDod formControlName="weaponDod"></mat-slider>
      </div>

      <div>
        <p>Damage : {{ weaponDmg.value }} pts</p>
        <mat-slider min="-5" max="5" class="w-100" #weaponDmg formControlName="weaponDmg"></mat-slider>
      </div>

      <div>
        <p>Health : {{ weaponHp.value }} pts</p>
        <mat-slider min="-5" max="5" class="w-100" #weaponHp formControlName="weaponHp"></mat-slider>
      </div>

      <button mat-raised-button color="primary" (click)="resetRanges()">Reset stats</button>

      <p [ngStyle]="{'color': statsSum() !== 0 ? 'red' : 'green'}">Points repartition balance : {{ statsSum() }}</p>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['../']">Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="weaponForm.invalid || statsSum() !== 0">Validate</button>
    </mat-card-actions>
  </form>
</mat-card>