<p>This website is a school project inspired by the main Angular Docs tutorial, and built using Angular 7 along with Angular Material and Firebase.</p>
<p>Please do not abuse the Firebase instance.</p>
<p><a href="http://heroes.cldn.fr" target="_blank">heroes.cldn.fr</a></p>
