<div id="search-component">
  <h4>Hero Search</h4>

  <mat-form-field class="w-100">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" matInput [matAutocomplete]="heroesComplete" />
    <mat-placeholder ngClass.lt-md="d-none">
      <span>Type the start of a hero's name..</span>
    </mat-placeholder>
    <mat-autocomplete #heroesComplete="matAutocomplete">
      <mat-option *ngFor="let hero of heroes$ | async" [value]="hero.name">{{ hero.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-nav-list>
    <mat-list-item *ngFor="let hero of heroes$ | async">
      <mat-icon matListIcon>face</mat-icon>
      <a routerLink="/heroes/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>