<div *ngIf="weapon">
  <h2>{{weapon.name | uppercase}} Details</h2>
  <div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>ID</mat-label>
      <input matInput disabled type="text" placeholder="ID" [(ngModel)]="weapon.id" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput cdkFocusInitial type="text" placeholder="Name" [(ngModel)]="weapon.name" />
    </mat-form-field>

    <div>
      <p>Attack : {{ weapon.attackPts }} pts</p>
      <mat-slider min="-5" max="5" class="w-100" [(ngModel)]="weapon.attackPts"></mat-slider>
    </div>

    <div>
      <p>Dodge : {{ weapon.dodgePts }} pts</p>
      <mat-slider min="-5" max="5" class="w-100" [(ngModel)]="weapon.dodgePts"></mat-slider>
    </div>

    <div>
      <p>Damage : {{ weapon.damagePts }} pts</p>
      <mat-slider min="-5" max="5" class="w-100" [(ngModel)]="weapon.damagePts"></mat-slider>
    </div>

    <div>
      <p>Health points : {{ weapon.healthPts }} pts</p>
      <mat-slider min="-5" max="5" class="w-100" [(ngModel)]="weapon.healthPts"></mat-slider>
    </div>

    <button mat-raised-button color="primary" (click)="resetStats()">Reset stats</button>

    <p [ngStyle]="{'color': statsSum() !== weaponBalancePoints ? 'red' : 'green'}">Points repartition balance : {{ statsSum() }}</p>

    <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()" (click)="save()">Save</button>

  </div>
</div>