<mat-card class="mat-card-margin">
  <mat-card-header>
    <mat-card-title>Add a hero</mat-card-title>
  </mat-card-header>
  <form [formGroup]="heroForm" (ngSubmit)="createHero()">
    <mat-card-content>
  
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput cdkFocusInitial type="text" placeholder="Name" formControlName="heroName" required />
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-select matInput placeholder="Weapon choice" formControlName="heroWeapon">
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let weapon of existingWeapons" [value]="weapon.id">
            {{ weapon.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <p>Attack : {{ heroAtq.value }} pts</p>
        <mat-slider min="0" class="w-100" #heroAtq [max]="countRemainingPoints(heroAtq.value)" formControlName="heroAtq"></mat-slider>
      </div>

      <div>
        <p>Dodge : {{ heroDod.value }} pts</p>
        <mat-slider min="0" class="w-100" #heroDod [max]="countRemainingPoints(heroDod.value)" formControlName="heroDod"></mat-slider>
      </div>

      <div>
        <p>Damage : {{ heroDmg.value }} pts</p>
        <mat-slider min="0" class="w-100" #heroDmg [max]="countRemainingPoints(heroDmg.value)" formControlName="heroDmg"></mat-slider>
      </div>

      <div>
        <p>Health :{{ heroHp.value }} pts</p>
        <mat-slider min="0" class="w-100" #heroHp [max]="countRemainingPoints(heroHp.value)" formControlName="heroHp"></mat-slider>
      </div>

      <button mat-raised-button color="primary" (click)="resetRanges()">Reset stats</button>

      <p>Remaining points : {{ getRemainingPoints() }}</p>
      
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['../']">Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="heroForm.invalid">Validate</button>
    </mat-card-actions>
  </form>
</mat-card>