<h1 mat-dialog-title>Unequip</h1>

<p>Are you sure you want to unequip this hero's weapon ?</p>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
</div>