<h1>Top Heroes</h1>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let hero of heroes | async" [routerLink]="['/heroes/detail', hero.id]">
    <h2>{{hero.name}}</h2>
  </mat-grid-tile>
</mat-grid-list>

<app-hero-search></app-hero-search>