<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">Dashboard</a>
      <a mat-list-item [routerLink]="['/heroes']">Heroes</a>
      <a mat-list-item [routerLink]="['/weapons']">Weapons</a>
      <a mat-list-item [routerLink]="['/battle']">Battle</a>
      <a mat-list-item [routerLink]="['/informations']">Informations</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 2">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button (click)="drawer.toggle()" style="font-size: 1.4rem;">Tour of Heroes</button>
    </mat-toolbar>
    <mat-card class="mat-card-margin">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card class="mat-card-margin">
      <mat-card-content>
        <app-messages></app-messages>
      </mat-card-content>
    </mat-card> -->
  </mat-sidenav-content>
</mat-sidenav-container>