<h1 mat-dialog-title>Heroes Battle</h1>

  <mat-dialog-content>

    <p *ngFor="let log of logs">{{ log }}</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
  </mat-dialog-actions>
