<div *ngIf="hero && weapons">
  <h2>{{hero.name | uppercase}} Details <button mat-raised-button color="warn" type="button" (click)="deleteHero()">Delete</button></h2>
  <div>

    <h3>General information</h3>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>ID</mat-label>
      <input matInput disabled type="text" placeholder="ID" [(ngModel)]="hero.id" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput cdkFocusInitial type="text" placeholder="Name" [(ngModel)]="hero.name" />
    </mat-form-field>

    <div [ngSwitch]="hero.weaponId">
      <h3>Weapon</h3>
      <p *ngSwitchCase="undefined">{{ hero.name }} is not currently using any weapon.
        <button mat-raised-button color="primary" (click)="pickWeapon()">Pick one</button>
      </p>
      <p *ngSwitchDefault>{{ hero.name }} is currently using
        <a [routerLink]="['/weapons/detail', hero.weaponId]">{{ findWeaponName(hero.weaponId) }}</a>
        as a weapon.
        <button mat-raised-button color="primary" (click)="removeWeapon()">Unequip</button>
      </p>
    </div>

    <h3>Characteristics</h3>

    <div>
      <p>Attack : {{ hero.attackPts }} pts</p>
      <mat-slider min="0" class="w-100" [max]="countRemainingPoints(hero.attackPts)" [(ngModel)]="hero.attackPts"></mat-slider>
    </div>

    <div>
      <p>Dodge : {{ hero.dodgePts }} pts</p>
      <mat-slider min="0" class="w-100" [max]="countRemainingPoints(hero.dodgePts)" [(ngModel)]="hero.dodgePts"></mat-slider>
    </div>

    <div>
      <p>Damage : {{ hero.damagePts }} pts</p>
      <mat-slider min="0" class="w-100" [max]="countRemainingPoints(hero.damagePts)" [(ngModel)]="hero.damagePts"></mat-slider>
    </div>

    <div>
      <p>Health points : {{ hero.healthPts }} pts</p>
      <mat-slider min="0" class="w-100" [max]="countRemainingPoints(hero.healthPts)" [(ngModel)]="hero.healthPts"></mat-slider>
    </div>

    <button mat-raised-button color="primary" (click)="resetStats()">Reset stats</button>

    <p>Remaining points : {{ getRemainingPoints() }}</p>

    <button mat-raised-button color="primary" type="submit" [disabled]="!isValid()" (click)="save()">Save</button>
  </div>
</div>