<h1 mat-dialog-title>{{ title }}</h1>

<p>{{ question }}</p>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirm</button>
</div>